<div class="jumbotron">
  <h1 class="display-2">Team invites</h1>
  <p class="lead">On this page you can receive invites from teams. You can either accept or reject them.</p>
  <hr class="my-4">

  <div class="row">
    <div class="col-md-3" *ngFor="let invite of teamInvites">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p>You received an invite to join team</p>
          <h2 class="card-title">{{invite.teamName}}</h2>
        </div>
        <div class="card-footer">
          <a class="btn btn-danger btn-sm text-white" (click)="reject()" role="button">Reject</a>
          &nbsp;&nbsp;
          <a class="btn btn-success btn-sm text-white" (click)="accept(invite)" role="button">Accept</a>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
</div>
